body {
  font-family: "Source Sans Pro", sans-serif;
  background: url("so-white.png");
}
@media only screen and (min-width: 400px) {
  body.flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

body, html {
  height: 100%;
  margin: 0;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b4b4b4;
}

a {
  text-decoration: none;
}
a.button {
  border: 1px solid #d4d4d4;
  background-color: #fff;
  color: #003e6b;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease-in-out;
  display: block;
  width: 100%;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
}
a.button.small {
  padding: 2px 4px;
  width: min-content;
}
a.button.cancel:hover {
  border-color: #dd6764;
  background-color: #dd6764;
  color: #fff;
}

input, select, textarea {
  padding: 10px;
  margin: 7px 0 17px 0;
  display: block;
  border: 1px solid #eae8e8;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
}

label {
  font-size: 14px;
}

input[type=submit] {
  background-color: #2680c2;
  border-color: #2680c2;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
}
input[type=submit]:hover {
  background-color: #fff;
  color: #2680c2;
}

.container {
  background-color: #f8f8f8;
  padding: 15px 30px;
  border-radius: 4px;
  border: 1px solid #eae8e8;
  margin: 20px;
}
@media only screen and (min-width: 400px) {
  .container {
    min-width: 350px;
  }
}

.logo {
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 1px;
  text-align: center;
}
.logo span {
  font-weight: 700;
  font-size: 24px;
  color: #003E6B;
}

.menu {
  background-color: #fff;
}
.menu a {
  padding: 10px;
  margin: 14px 0;
  display: block;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  background-color: #F0F4F8;
  color: #003e6b;
  font-size: 14px;
  text-align: center;
}
.menu a:hover {
  background-color: #fff;
  transition: 0.3s ease-in-out;
}

textarea {
  resize: none;
}

select option[disabled] {
  color: gray;
}

.top-bar .logo {
  text-align: right;
  margin: 0;
  padding: 20px;
  margin-bottom: 0;
}
.top-bar h1 {
  text-align: center;
  font-weight: 300;
  background: #003e6b;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 10px;
  margin-top: 0;
  font-size: 28px;
}
.top-bar span {
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
.top-bar .dropdown {
  position: relative;
  cursor: pointer;
  padding-right: 20px;
}
.top-bar .dropdown p {
  text-align: right;
  margin-bottom: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  padding: 5px 10px;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 12px 32px rgba(38, 39, 41, 0.18);
  right: 0;
}
.dropdown-content a {
  padding: 8px 4px;
  display: block;
  text-align: right;
  color: black;
}
.dropdown-content a:hover {
  color: #829AB1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container-balance {
  border: 1px solid #eae8e8;
  max-width: 1200px;
  margin: 20px auto;
  background-color: #fff;
}
.container-balance .content h2 {
  background: #f2f5f7;
  padding: 10px 30px;
  font-size: 18px;
  text-align: center;
}
.container-balance .content .table-container {
  padding: 30px;
}
.container-balance .content table {
  border-collapse: collapse;
  border-radius: 8px;
  border: 1px solid #f2f5f7;
  margin: 0 auto;
}
.container-balance .content table thead {
  background-color: #486581;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.container-balance .content table tbody {
  background-color: #fff;
}
.container-balance .content table tbody tr:not(:last-child) {
  border-bottom: 1px solid #f2f5f7;
}
.container-balance .content table th {
  font-weight: normal;
  padding: 8px 20px;
  text-align: left;
}
.container-balance .content table td {
  padding: 10px 20px;
}
.container-balance .content table td:nth-child(2) {
  text-align: right;
}
.container-balance .content .financial-balance {
  text-align: center;
}
.container-balance .content .financial-balance p.summary {
  font-size: 36px;
}
.container-balance .content .financial-balance p.info.success {
  color: green;
}
.container-balance .content .financial-balance p.info.warning {
  color: red;
}

#date-range {
  padding: 5px;
  display: none;
  background-color: #F0F4F8;
}
#date-range input {
  padding: 2px 4px;
}

.center {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
